<% content_for :head do %>
  <% @articles.each do |article| %>
    <meta property="fb:app_id" content="512550735790473" /> 
    <meta property="og:url" content="<%= "http://www.fearthewave.com" + article.slug %>" /> 
    <meta property="og:type"   content="article" /> 
    <meta property="og:title"  content="<%= article.title %>" /> 
    <meta property="og:description"  content="<%= article.sub_title %>" /> 
    <meta property="og:image"  content="http://i.imgur.com/eaCsmww.png" /> 

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@fearthewaveblog" />
    <meta name="twitter:title" content="<%= article.title %>" />
    <meta name="twitter:description" content="<%= article.sub_title %>" /> 
    <meta name="twitter:image" content="http://i.imgur.com/eaCsmww.png" />
  <% end %>
<% end %>

<div class="container">



<% @articles.each do |article| %>

  <div class="article_header">
   <p><%= article.published_at.strftime("%^B %d, %Y") %></p>
    <h1><%= article.title %></h1>
    <h2><%= article.sub_title %></h2>
    <div id="author">
    <p><%= article.lines_authors.last.name %></p>
    </div>
   </div>
 <div class="article_content">    
        <p><%= markdown article.content %></p>
   </div>
      <% end %>
</div>


