<!DOCTYPE html>
<html>
<head>
  <title>FearTheWave.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<div class="holder stripe-1">
</div>
<nav>
	<%= link_to "FearTheWave.com", root_path %>
</nav>

<body>

<%= yield %>

</body>
</html>
